.cart-container{
    padding: 25px 0;
}
.cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.cart img{
 height: 80px;
 width: 80px;
 border-radius: 100%;
}
.trash-icon{
    cursor: pointer;
    font-size: 20px;
}
